<div class="container">
     <div class="row">
          <div class="col-md-17">
             <h3 class="heading">About us</h3>
             <p>Lorem ipsum dolor sit amer, consecutur adipising elijt sed do eiusmod trmpori incideng ut labour at do  jnjnkuhiukjkj hiu uhiuhu hu uh iuh uh uh ihi iuh iu u iuh uh u u uh hi hi hi jhi  i iu h hiuh iuh h uhh uihi hiu uh uh i i iuh uh iuhi iuutfytjhyg76uyg uy uyuh bjh   yu  iui y 87y87tuyuy yu8guyt6g gguygou7tyiuy t976ubg. <a href="/contact">Contact us</a></p>
          	<hr>
          </div>

          <div class="col-md-2" class="about-image">
          	<img src="http://upload.wikimedia.org/wikipedia/commons/a/ac/OneWorldTradeCenter.jpg" />
          </div>
     </div>

     <div class="row">
     	<div class="col-md-12">
     	       <h3>Our services</h3>
     	       <p>Ded upj j oijihj jh iujn uh uh j uh uh u p poi pipo ipiupo ioiu pij poip oijpoijoiuio ii poi  oi oi i .</p>
     	  	
     	</div>
     	<div class="col-md-4"><h4>Acounting</h4>
     	  <p>Nequie porro quisquam est, qui dolore j kj    j   jk k j ij j kjlj jlk jkjnjnoiuqru98udofewoifu     8oirfoueofuoiueoufoiueoiufn   uofuouef uo oiu foeiou u iu iu  iou</p>
     	  	
      </div>
      <div class="col-md-4">
     	  <h4>Painting</h4>
     	  <p>quiuoiiudf oioiou oiuaoiou ioeiuofu i oiuoudoiuofiuoew fiuoiuooiuofuoiasd fiu oiuoiuoiuo iuouoiuoiu uoiuou </p>
     	  </div>
     </div>
	
</div>
				
